<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 首页

 //1.  浏览器 同源策略

 //2. jsonp  不行

 //3. 代理  可以解决一切跨域的问题

 <script>
     var xml=new XMLHttpRequest();

     xml.onload=function(){
         document.querySelector("div").innerHTML=xml.response;
     }
     xml.open("get","http://localhost:8888/ajax?url=http://www.bootcss.com/");

     xml.send();
 </script>

<div style="width:200px;height:200px;
border:1px solid red"></div>

<button>获取</button>
</body>
</html>